# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtuelle Umgebungen
.env
.venv/
env/
venv/
ENV/

# Datenbanken
*.db
*.sqlite
*.sqlite3

# Distribution / Packaging
dist/
build/
*.egg-info/
*.egg

# IDE / Editor
.idea/
.vscode/
*.swp
*.swo
*~

# Logs
*.log

# Betriebssystem
.DS_Store
Thumbs.db
desktop.ini
